<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    {{token}}
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
	<button (click)="login()">login con email</button>
	<button (click)="register()">registrar con email</button>
	
	<button (click)="login_fb()">login con facebook</button>
	<button (click)="login_google()">login con google</button>
	
  </div>

</ion-content>
